/* 초기화 코드 initialization code */
@charset "utf-8";

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body {font: 12px "Roboto", "Arial Narrow", HELVETICA; background: #fff; -webkit-text-size-adjust: 100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:none} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
* {box-sizing: border-box;}
/* ------------------------------------ */



/* 헤더 */
#header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: aquamarine;
    padding-top: 12px;
    top: 0;
    z-index: 9999;
}

#header > div {
    vertical-align: middle;
}

.hd_b1 {
    display: inline-block;
    margin-left: 30px;
}

.hd_b2 {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.hd_b1 > div {
    vertical-align: middle;
}

.hd_b2 > div {
    vertical-align: middle;
}

.hd_c1, .hd_c2 {
    display: inline-block;
}

.hd_c2 {
    margin-left: 20px;
}

.hd_c1 svg {
    width: 24px;
    height: 24px;
}

.hd_c2 p {
    font-size: 23px;
    font-weight: bold;
}

.hd_c3, .hd_c4 {
    display: inline-block;
}

.hd_c3 {
    margin-right: 20px;
}

.hd_c3 svg {
    width: 24px;
    height: 24px;
}

.hd_c4 img {
    border-radius: 50px;
}
/* ------------------------------------ */



/* 사이드바#sb, 센터#center, 지도#mp_wp 기본배치 */

#sb {
    margin-top: 60px;
    padding-top: 5px;
}

#sb {
    width: 100px;
    height: 500px;
    border: 1px solid red;
    text-align: center;
    position: fixed;
    display: inline-block;
    background-color: #fff;;
}

/* ------------------------------------ */


/* 사이드바 */
#sb > nav > div {
    margin-bottom: 35px;
}

.sb_it {
    text-align: center;
}

.sb_it svg{
    width: 24px;
    height: 24px;
}

.sb_it button {
    background-color: #fff;
    border: none;
}
/* ------------------------------------ */



/* 가운데 맨 위 여행 */
.main {
    position: relative;
    text-align: center;
    padding-top: 130px;
}

.travel {
    position: absolute;
    top: 88%;
    left: 47%;
    font-size: 50px;

} 
/* ------------------------------------ */ 


/* 검색창 */
.search {
    position: relative;
    margin-top: 45px;
}
.search1 {
    position: relative;
    margin: 0 auto;
    border: 1px solid #c8c8c8;
    border-radius: 30px;
    background-color: #fff;
    width: 400px;
    height: 60px;
    box-shadow: 3px 3px 5px #c8c8c8;
}

.search1 > input {
    position: absolute;
    margin-top: 23px;
    margin-left: 60px;
    border: none;
    font-size: 1.3em;
}   

.search2 {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
/* ------------------------------------ */ 


/* 가운데 메뉴 버튼 */
.menu1 {
    position: relative;
    left: 29.5%;
    margin-top: 30px;
    width: 40%;
}

.btn:hover {
    background-color: #e9e9e9;
}

.menu2 {
    position: absolute;
    left: 20%;
}

.trip {
    padding: 15px;
    float: left;
}
/* ------------------------------------ */ 


/* 여행 후보지 */
.travelcandidate {
    position: relative;
    margin-top: 130px;
    border: 1px solid #fff;
    width: 55%;
    height: 1100px;
    left: 23%;
}

.t_c1 {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: -15px;
    line-height: 2.7em;
}

.t_c2 {
    width: 93%;
    margin: 25px;
}

.tc_img{
    width: 300px;
    height: 200px;
    margin: 10px;
}

.t_cc {
    float: left;
}

.tc1, .tc2, .tc3, .tc4, .tc5, .tc6, .tc7 {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: -9999;
}

.tc_t1, .tc_t2, .tc_t3  {
    position: absolute;
    width: 30%;
    top: 25%;
    margin: 10px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.tc_t4, .tc_t5, .tc_t6 {
    position: absolute;
    width: 30%;
    top: 53%;
    margin: 10px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.tc_t7 {
    position: absolute;
    width: 30%;
    top: 81%;
    margin: 10px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.tc_b1 {
    width: 300px;
    padding: 15px;
    border: 1px solid #c8c8c8;
    border-bottom: none;
}

.tc_b2 {
    width: 300px;
    padding: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.tc_b1 a {
    margin-left: 18px;
}

.tc_b2 a {
    color: skyblue;
    font-size: 1.2em;
}

.t_c_i {
    margin-left: 10px;
    margin-top: -10px;
}
/* ------------------------------------ */ 

/* 여행페이지로 돌아가기 */
.travelpage {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 50%;
    margin-top: -20px;
    margin-left: 469px;
}

.travelpage > img {
    float: left;
    width: 60px;
    height: 60px;
    margin: 20px;
}

.backvisit {
    line-height: 2.5em;
    margin: 25px;
}
/* ------------------------------------ */ 


/* 인기 있는 목적지 */
.popular {
    position: relative;
    border: 1px solid #fff;
    border-bottom: 1px solid #c8c8c8;
    width: 55%;
    height: 550px;
    left: 23%;
    margin-bottom: -20px;
}

.popular1 {
    width: 93%;
    margin: 25px;
    height: 450px;
}

.popular2 {
    font-size: 2em;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: -18px;
}

.img {
    width: 300px;
    height: 200px;
    float: left;
    margin: 10px;
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    z-index: -9999;
}

.title1, .title2, .title3  {
    position: absolute;
    width: 30%;
    top: 40%;
    margin: 10px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.title4, .title5, .title6 {
    position: absolute;
    width: 30%;
    top: 80%;
    margin: 10px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.detailed1, .detailed2, .detailed3, .detailed4, .detailed5, .detailed6 {
    width: 100%;
}
/* ------------------------------------ */ 


/* 푸터 */ 

.footerLink ul {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}

.footerLink li{
    display: inline-block;
}

.footerLink a{
    display: inline-block; /*인라인한 요소에 padding값을 줄경우 display: inline-block 사용해줘야함*/
    padding: 20px;
    color: royalblue;
}
/* ------------------------------------ */ 