/* 센터 폭 새로 조정 */
#sb {
    border: 1px solid red; 
}

#center {
    border: 1px solid red; 
    padding-left: 10px;
}
/* --------------------------- */







/* 센터 첫줄: 지역, 날짜, 명수 선택 */
.tp_wp {
    border: 1px solid blue;
}

.tp_fr {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.tp_sr {
    width: 220px;
    height: 50px;
    border-radius: 7px;
    padding: 1px 5px 1px 10px;
    margin: 0 10px 30px 0;
    border: 1px solid #ccc;
}

.sr_it {
    display: inline-block;
    line-height: 4em;
}

.tp_sr input {
    border: none;
    padding: 10px 0;
}

.tp_dt {
    padding: 2px 0;
    height: 50px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

.tp_dt > div > div {
    position: relative;
    display: inline-block;
}

.tp_dt button {
    height: 44px;
    border-radius: 7px;
    background: #fff;
    border: none;
}

.dt_d1~button {
    width: 130px;
}

.dt_d2~button {
    width: 90px;
}

.dt_dt {
    font-size: 14px;
    line-height: 3.0em;
    position: absolute;
}

.dt_ci {
    left: 12px;
    top: 8px;
}

.dt_d1 {
    left: 50px;
}

.dt_d2 {
    left: 10px;
}

.dt_br {
    height: 32px;
    top: -7px;
    border: 1px solid #ccc;
}

.tp_nb {
    width: 90px;
    height: 50px;
    border-radius: 7px;
    padding: 1px 5px 1px 10px;
    margin: 0 10px 30px 10px;
    border: 1px solid #ccc;
}

.nb_i1 {
    position: absolute;
    left: 14px;
    top: 12px;
    line-height: 3.0em;
}

.nb_sp {
    font-size: 14px;
    position: absolute;
    left: 44px;
    line-height: 3.0em;
}

.nb_dn {
    position: absolute;
    right: 12px;
    top: 18px;
}
/* --------------------------- */







/* 센터 둘째줄: hotels, holiday homes, 
rating, amenities, rooms */
.sl_it {
    display: inline-block;
    height: 40px;
    border: 1px solid #ccc;
}

.sl_gr {
    font-size: 0;
}

.sl_ht {
    font-size: 14px;
    text-align: center;
    line-height: 2.8em;
    width: 80px;
    border-radius: 7px 0 0 7px;
    border: 1px solid #ccc;
}

.sl_hh {
    font-size: 14px;
    text-align: center;
    line-height: 2.8em;
    width: 120px;
    border-radius: 0 7px 7px 0;
    border: 1px solid #ccc;
}

.sl_rn {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.sl_rn button {
    height: 35px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 40px;
}

.sl_rt button {
    width: 100px;
}

.sl_am button {
    width: 120px;
}

.sl_rm button {
    width: 100px;
}

.sl_ct button span {
    margin-left: -10px;
}

.nb_dq {
    top: 13px;
}

.tl_wp {
    border: 1px solid red;
}

.tl_hh {
    border: 1px solid red;
}

.tl_bm {
    border: 1px solid red;
}

.pt_fr {
    border: 1px solid red;
}

.bt_nt {
    border: 1px solid red;
}

.bt_cr {
    border: 1px solid red;
}

.bt_ad {
    border: 1px solid red;
}
.bt_al {
    border: 1px solid red;
}

.bt_mr {
    border: 1px solid red;
}